.toolbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 10%;
}

.logo span {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Blaka', cursive;
}

.github-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10%;
}

#github-buttons {
    background-image: linear-gradient(to right, #ECE9E6 0%, #ECE9E6  51%, #FFFFFF  100%)
}

.spacer {
    height: 16%;
}

.content {
    padding: 0 16% 0 16%;
}
