<div class="toolbar"></div>

<div class="header">
    <h2>Hola {{username}}</h2>
</div>

<div class="spacer"></div>



<img src="./../../../assets/images.jpg" alt="imagen banco" width="100%" height="800px">

<div class="btn">
    <button>
        <span class="text" routerLink="/usuarios" [queryParams]="{op: '1'}">Lista Usuario</span>
    </button>
    <button>
        <span class="text" routerLink="/usuarios" [queryParams]="{op: '3'}">Agregar Usuario</span>
    </button>
    <button>
        <span class="text" routerLink="/usuarios" [queryParams]="{op: '4'}">Actualizar Usuario</span> 
    </button>
    <button>
        <span class="text" routerLink="/usuarios" [queryParams]="{op: '5'}">Eliminar Usuario</span>
    </button>
</div>

<img src="./../../../assets/descarga.jpg" alt="imagen banco" width="100%" height="600px">

<div class="btn">
    <button>
        <span class="text" routerLink="/transacciones" [queryParams]="{op: '1'}">Lista Transacciones</span>
    </button>
    <button>
        <span class="text" routerLink="/transacciones" [queryParams]="{op: '2'}">Nueva Transaccion</span>
    </button>
    <button>
        <span class="text" routerLink="/transacciones" [queryParams]="{op: '3'}">Buscar Transaccion</span> 
    </button>
</div>
<img src="./../../../assets/gracias.jpg">
<div class="btn2">
    <button>
        <span class="text" routerLink="/">CERRAR SESION</span>
    </button>
</div>