<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.component.css">
    <style>
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </nav>     
    <br>
    <br>
    <br>
    <div class="mat-elevation-z8" id="container">
        <p style="color: #fff;; font-size: x-large;">Bienvenido!!</p>
        <p style="color: #fff">Ingrese sus datos para continuar.</p>
        <br>
        <form [formGroup]="formLogin">
            <table>
                <tr>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Nombre se usuario</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                </tr>
                <tr>
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Contrasenia</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </tr>
            </table>
        </form>
        <br>
        <div class="container-button">
            <button class="btn btn-outline-success" [disabled]="!formLogin.valid" mat-raised-button style="color: #fff; width: 50%;" (click)="login(formLogin.value.username, formLogin.value.password)">Ingresar</button>
            <button class="btn btn-primary" mat-button style="color: #fff" routerLink="/register">Registrarse</button>
        </div>
    </div>
</body>
</html>
