/* You can add global styles to this file, and also import other style files */

html,
body { 
    height: 100%;
    margin: 0;
}

/* SNACK BARS COLORS  */
.back-color {
    background-color: #002D62;
    color: #fff;
}

.back-color-err {
    background-color: #e90f0f;
    color: #F0F8FF;
}
