/* SON ESTILOS ES DECIR LOS COLORES Y DIMENSIONES */

html,
body { 
    height: 100%;
    margin: 0;
}

/* BARRA DE MENU  */
.back-color {
    background-color: white;
    color: black;
}

.back-color-err {
    background-color: red;
    color: #F0F8FF;
}
