/* SON ESTILOS ES DECIR LOS COLORES Y DIMENSIONES */

html,
body { 
    height: 100%;
    margin: 0;
}

/* BARRA DE MENU  */
.back-color {
    background-color: #1acd1a;
    color: #fff;
}

.back-color-err {
    background-color: #e90f0f;
    color: #F0F8FF;
}
